<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="30">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style2.css">
  <title>CoachHer</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a class="navLinks" href="/">Home</a></li>
        <li><a class="navLinks" href="/browsecoaches">Browse Coaches</a></li>
        <li><a class="navLinks" href="/athleteprofile">Profile</a></li>
        <li><a class="navLinks" href="/signup">Sign Up</a></li>
        <li><a class="navLinks" href="/login">Log In</a></li>
        <li><a class="navLinks" href="/logout">Log Out</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <!-- profile pic goes here -->
    <section class="profilePic">
      <h1>Welcome back, <%= user.local.username%></h1>
      <img src="<%= user.local.imagepath%>" alt="">

    </section>

    <section class="profileDisplay">
      <!-- <section>
      <p>Off/On Season</p>
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </section> -->
  <h2>Connect with a coach</h2>
  <h3>Want to connect with a coach? Start <a class="here" href="/browsecoaches">here!</a> </h3>
  <section class="connectionRequests">
    <ul>
      <% for(var i=0; i<coaches.length; i++) { %>
        <li>
          <% let request = connectionRequests.find( (r) =>  coaches[i]._id.toString() == r.coachID.toString())%>

          <% if(!request ){
            console.log("hey")


          } else if(request.status == "Approved") { %>
            <span class="conReqStatus">You are connected with Coach: <%= coaches[i].local.firstname %> <%= coaches[i].local.lastname %>!</span>

            <form class="chatReqForm" action="/chatRequest" method="post">
              <input type="hidden" name="coachID" value="<%= coaches[i]._id %>">
              <% let request = chatRequests.find( (r) =>  coaches[i]._id.toString() == r.coachID.toString())
                      console.log("looking for request for this coach", coaches[i]._id, request  )
                     if(!request ){ %>
              <button class="chatReqButton" type="submit" name="button">Request to chat with <%= coaches[i].local.username %></button>
          <% } else if(request.status == "Approved") { %>
          <a class="conReqStatus chatLink" href="/room/<%= request.roomID %>">Chat with Coach <%=coaches[i].local.firstname %>  <%=coaches[i].local.lastname %></a>
          <% } else if(request.status == "pending"){ %>
          <span class="chatReqStatus">Your chat request is <span class="status">Pending</span></span>

            <% } else { %>
            <span>Coach has declined Your Request</span>
        <% } %>

            </form>

          <% } else if(request.status == "Declined"){
              continue;

          } else { %>
            <span class="conReqStatus">Your connection request is <span class="status">Pending</span></span>
          <% } %>

          </li>
          <% } %>
        </ul>


          </section>
        </section>


        <!-- Browse coaches section -->


      </main>

      <footer>
        <p class="copy"> Copyright © 2021 CoachHer.All rights reserved.</p>
      </footer>
      <script src="js/main.js"></script>
    </body>
    </html>
